
.course{
    margin-top:var(--main-spacing) ;
    margin-bottom:var(--main-spacing) ;
}
.courseImage{
    height: 370px;
}
.info span:not(.trainer){
    color: var(--ternary-color);
    font-size: 18px;
    font-weight: 500;
}
.trainer {
    font-size: 18px;
}
.text span , .trainer  , .reviews , .feedback span{
    font-weight: 600;
    color: var(--main-color);
}
.text p , .rate span{
    color: var(--ternary-color);
}
.text p {
    font-weight: 400;
}
.rate span {
    font-weight: 500;
    width: 60px;
}
.feedback textarea{
    border: 1px solid #ddd ;
    border-radius: 5px;
    padding: 10px;
}
.feedback textarea:focus{
    outline: none;
    caret-color: var(--alt-background);
}
.send {
    position: relative;
    background-color: var(--alt-background);
    overflow: hidden; 
    z-index: 1;
}

.send::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background-color: var(--main-color);
    transition: width var(--main-time) ease;
    z-index: -1; 
}

.send:hover::after {
    width: 100%;
}

.delete {
    background-color: var(--main-color);
}