.title {
    font-size: 32px;
    width: fit-content;
}
.title::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -20px;
    background-image: var(--main-linear);
    width: 50%;
    height: 5px;
}