:root {
    --main-color : #0c2e60;
    --alt-color : #212529;
    --ternary-color : #556172;
    --main-background : #f7f7f7;
    --alt-background : #ff663b;
    --main-linear : linear-gradient(to left, #ee390f 0%, #f9b700 51%, #ee390f 100%);
    --main-time : .3s;

}
*{
    box-sizing: border-box;
}

body{
    font-family: "Roboto", sans-serif;
    height: 5000px;
}

a {
    text-decoration-line: none !important;
}