:root {
    --main-color : #0c2e60;
    --alt-color : #212529;
    --ternary-color : #556172;
    --main-background : #f7f7f7;
    --alt-background : #ff663b;
    --main-linear : linear-gradient(to right, #ee390f 0%, #f98900 50% , #f9b700 100%);
    --main-time : .3s;
    --main-spacing : 60px;
}


body{
    font-family: "Roboto", sans-serif;
}

a {
    text-decoration-line: none !important;
}