.secondaryBtn {
    background-color: transparent;
    color: #000;
    border: 2px solid var(--main-color);
    padding: 10px 50px;
    border-radius: 50px;
    transition: var(--main-time);
    overflow: hidden;
}
.secondaryBtn:hover {
background-color: var(--main-color);
  box-shadow: 0px 12px 20px 0px rgba(255, 126, 95, 0.15);
  color: #fff;
}
.secondaryBtn::after {
  content: "";
  position: absolute;
  top: 0;
  left: -40%;
  width: 30%;
  height: 100%;
  background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.4) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  transform: skewX(-20deg);
  transition: all 0.7s ease;
}

.secondaryBtn:hover::after {
  left: 110%;
}